<h2>Sign Up</h2>

<div class="row">
  <div class="col-md-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, placeholder: "Enter name", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "Enter email", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <br>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Enter password", class: 'form-control' %>
        <br>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: 'form-control' %>
      </div>
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
