<div class="row">
  <div class="col-md-8">
    <%= bootstrap_form_for @wiki do |f| %>
      <%= f.text_field :title, autofocus: true %>
      <%= f.text_area :body, rows: "10" %>
      <%= f.check_box :public %>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
