<div class="row">
  <div class="col-md-8">
    <br>
    <p><i>Blocipedia supports Markdown, so have fun and make your wiki stand out!</i></p>
    <%= bootstrap_form_for @wiki do |f| %>
      <%= f.text_field :title, autofocus: true %>
      <%= f.text_area :body, rows: "10" %>
      <%= f.submit "Submit", class: 'btn btn-primary pull-right' %>
      <br>
    <% end %>

    <% if @wiki.public == true && ((@user.premium? && @user.id == @wiki.user_id) || @user.admin?) %>
      <br>
      <p><strong>Would you like to make your wiki private, and shut out the peons?</strong></p>
      <%= link_to "Private Wiki", modify_privacy_path(id: @wiki.id), class: "btn btn-primary pull-right" %>

    <% elsif @wiki.public == false && @user.id == @wiki.user_id %>
      <br>

      <%= form_tag collaborators_path, method: :post do %>
        <%= label_tag 'Choose a collaborator from the list below' %>
        <%= select_tag 'collaborators', options_for_select(User.all.collect{ |u| [u.name, u.id] }), label: "List of possible collaborators", class: "form-control", multiple: true %>
        <br>
        <%= text_field_tag :collaborator, "", class: 'form-control', placeholder: "Enter your choice here", onfocus: "placeholder=''"%>
        <%= hidden_field_tag :wiki_id, @wiki.id %>
        <%= submit_tag "Add Collaborator",  class: 'btn btn-primary pull-right' %>
      <% end %>

      <br>
      <br>
      <p><strong>Would you like to make your wiki public again?</strong></p>
      <%= link_to "Public Wiki", modify_privacy_path(id: @wiki.id), class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
